<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main page-main">
	<!-- wp:group {"tagName":"article","className":"page-entry","layout":{"type":"constrained"}} -->
	<article class="wp-block-group page-entry">
		<!-- wp:group {"tagName":"header","className":"page-entry-header","layout":{"type":"constrained"}} -->
		<header class="wp-block-group page-entry-header">
			<!-- wp:post-title {"level":1,"className":"page-entry-title"} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"align":"wide","className":"single-featured-image"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
